/* TTF Dropcap fonts - for all letters */
@font-face {
    font-family: 'DropcapTTF';
    src: url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-A.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-B.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-C.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-D.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-E.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-F.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-G.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-H.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-I.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-J.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-K.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-L.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-M.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-N.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-O.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-P.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-Q.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-R.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-S.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-T.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-U.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-V.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-W.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-X.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-Y.ttf') format('truetype'),
         url('/assets/fonts/dropcaps/ttf-dropcaps/GoudyInitialen-Z.ttf') format('truetype');
    unicode-range: U+0041-005A;  /* A-Z */
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
