---
---

.content__inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em 0;
  
  h1 {
    margin-bottom: 1em;
    font-size: 2.5em;
    line-height: 1.2;
  }
  
  h2 {
    margin: 1.5em 0 0.8em;
    font-size: 1.8em;
  }
  
  p {
    margin-bottom: 1.5em;
    font-size: 1.1em;
    line-height: 1.6;
  }
  
  ul {
    margin: 1em 0 1.5em 1.5em;
    
    li {
      margin-bottom: 0.5em;
      font-size: 1.1em;
      line-height: 1.4;
    }
  }
}

// Use Garamond for masthead
.masthead__inner-wrap {
  font-family: $garamond;
}

// Override post title styles
.archive__item-title {
  a {
    color: #ffedc4; // Change this to any color you prefer
    text-decoration: none; // Remove underline
    
    &:hover {
      text-decoration: none;
      color: lighten(#ffedc4, 10%);
    }
  }
}
