/* ==========================================================================
   Custom skin
   Based on neon skin but with modifications
   ========================================================================== */

/* Colors */
$background-color: #141010 !default;
$text-color: #f2e7ed !default;
$primary-color: #cf6776 !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix($primary-color, #000, 10%) !default;
$link-color: #cf6776 !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

// Hide sticky sidebar completely
.sidebar.sticky {
  display: none !important;
}

// Justify text in posts
.page__content {
  text-align: justify;
  
  p {
    text-align: justify;
  }
}

// Style tags everywhere
.page__tags,
.taxonomy__index,
.archive__item-title {
  margin: 2em 0 1em;
  font-size: 0.9em;
  font-family: "EB Garamond", Garamond, Georgia, serif;
  color: #e8a3b5;
  
  .fa-tags {
    margin-right: 0.5em;
  }
  
  a {
    color: #e8a3b5;
    text-decoration: none;
    font-family: "EB Garamond", Garamond, Georgia, serif;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.page__tag,
.taxonomy__count {
  color: #e8a3b5;
  text-decoration: none;
  font-family: "EB Garamond", Garamond, Georgia, serif;
  
  &:hover {
    text-decoration: underline;
  }
}

// Style masthead menu items
.masthead__menu-item {
  font-size: $type-size-9;
  font-family: $garamond;
  letter-spacing: 1px;
  font-weight: 300;
}
