.page__content {
  max-width: 45em;
  padding: 0 1em;

  // Center-align by default
  margin: 0 auto;
}

// Left-align for posts with mathjax
.mathjax-true .page__content {
  margin: 0 0 0 2em;
}

// Add margins for background_game layout
.layout--background_game .site-content {
  max-width: 45em;
  margin: 0 auto;
  padding: 0 1em;
}

.post-abstract {
  font-style: italic;
  color: $text-color;
  opacity: 0.8;
  margin: 2em 0;
  padding: 1em 2em;
  border-left: 3px solid $text-color;
  background-color: rgba(mix(#fff, $text-color, 90%), 0.25);
}
