---
---

.content__inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em 0;
  
  h1 {
    margin-bottom: 1em;
    font-size: 2.5em;
    line-height: 1.2;
  }
  
  h2 {
    margin: 1.5em 0 0.8em;
    font-size: 1.8em;
  }
  
  p {
    margin-bottom: 1.5em;
    font-size: 1.1em;
    line-height: 1.6;
  }
  
  ul {
    margin: 1em 0 1.5em 1.5em;
    
    li {
      margin-bottom: 0.5em;
      font-size: 1.1em;
      line-height: 1.4;
    }
  }
}

// Use Garamond for masthead
.masthead__inner-wrap {
  font-family: $garamond;
}

// Soften code blocks
div.highlighter-rouge {
  background: #f8f5f5;
  
  pre.highlight {
    background: #f8f5f5;
    border: 1px solid #e9dcdc;
    border-radius: 4px;
    color: #5c4f4f;
  }
}

// Hide sticky sidebar completely
.sidebar.sticky {
  display: none !important;
}
