@charset "utf-8";

/* Variables */
$garamond: "EB Garamond", serif;

/* Override theme defaults */
$global-font-family: $garamond;
$header-font-family: $garamond;
$caption-font-family: $garamond;

/* Import theme */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";
@import "custom"; // custom styles

/* Custom overrides */
body {
  font-family: $garamond;
}

.page__content {
  font-family: $garamond;
  
  p, li, dl {
    font-family: $garamond;
  }
}

.page__title,
.page__meta,
.archive__item-title {
  font-family: $garamond;
}
