---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$garamond: "EB Garamond", serif;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Custom CSS */
/* Typography overrides */
body {
  font-family: $garamond;
  line-height: 1.65;
}

h1, h2, h3, h4, h5, h6,
.site-title,
.page__title,
.page__meta,
.archive__item-title,
.toc__menu,
.nav__title,
.greedy-nav a,
.sidebar p,
.author__name,
.author__bio,
.page__footer {
  font-family: $garamond;
  font-weight: 400;
}

.page__content {
  font-family: $garamond;
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
  
  strong {
    font-weight: 500;
  }
  
  a {
    text-decoration: none;
    font-weight: 400;
    
    &:hover {
      text-decoration: underline;
    }
  }
}
