---
layout: archive
---

{% include game-advanced.html %}

<div class="site-content">
  <div class="page__content">
    {% if page.dropcap %}
      {% include dropcap.html %}
    {% else %}
      {{ content | markdownify }}
    {% endif %}
  </div>

  {% if page.type != "home" %}
    {% if page.tags %}
      <div class="page__tags">
        <i class="fas fa-tags" aria-hidden="true"></i>
        {% for tag in page.tags %}
          <a href="/tags/#{{ tag | slugify }}" class="page__tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </div>
    {% endif %}
    
    {% if page.date %}
      <div class="page__meta">
        <p class="page__date">
          <i class="fas fa-calendar-alt" aria-hidden="true"></i>
          {{ page.date | date: "%B %d, %Y" }}
        </p>
      </div>
    {% endif %}
  {% endif %}

  {% if page.type == "home" %}
    {% assign entries_layout = page.entries_layout | default: 'list' %}
    <div class="entries-{{ entries_layout }}">
      {% assign posts = site.posts | slice: 0, site.posts.size %}
      {% for post in posts %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
  {% endif %}
</div>
